# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
.github
_.config.yml
_config.yml
.editorconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc
.travis.yml
.whitesource
renovate.json
tsconfig.json
yarn.lock
